<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Mailing</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body class=" bg-secondary">

<div class="d-flex justify-content-center">
    <div class="d-flex justify-content-center p-4 text-white container-fluid ">
        <div>
            <h1>Mailing | <a href="/logout">logout</a></h1>
            <form id="mailForm" class="form-group col-md-30">
                <fieldset class="scheduler-border">
                    <textarea name="mailSubject" class="form-control" type="text" rows="1" placeholder="Subject"></textarea>
                    <textarea name="mailContent" class="form-control"  rows="5" placeholder="Content"></textarea>
                </fieldset>
                Number of mails:  <input type="number" name="count" value="1" min="1" max="1000"><br><br>
                <button id="sendBtn" type="button" class="btn btn-light btn-lg">Send</button>
            </form>
            <div id="info"></div>
        </div>
    </div>
</div>

<script>
    const form = document.getElementById("mailForm");
    const info = document.getElementById("info");
    document.getElementById("sendBtn").addEventListener("click", (event) => {
        event.preventDefault();
        info.innerHTML = "Sending...";
        const formObj = {
            subject: form.elements.mailSubject.value,
            content: form.elements.mailContent.value,
            count: form.elements.count.value
        };

        console.log(formObj);

        fetch('/api', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(formObj),
        })
            .then(response => response.text())
            .then((text) => {
                info.innerHTML = text;
            })
            .catch(console.warn);
    });
</script>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>